
.works{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;

}
.slider{
  height: 400px;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1.5s ease-in-out;
}
.s-container{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-item{
  width: 75%;
  height: 100%;
  background-color: rgb(32, 11, 56);
  color: #fcfafa;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.s-item:hover{
  transform: scale(1.1);
}
.s-item:hover{
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}
.left{
  flex: 4;
  justify-content: center;
  align-items: center;
}
.left .left-container{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.link-container{
  display: flex;
  justify-content: center;

}
.right{
  flex: 8;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  position: absolute;
  font-size: 50px;
}
.arrow-left{
  left: 100px;
}
.arrow-right{
  right: 100px;
}
.slider-img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}