.portfolioList{
  font-size: 13px;
  margin-right: 5px;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
}
.active{
  background: transparent;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
  box-shadow: #28bb88 0px 0px 20px 0px;
}